<div class="col-10 offset-1">
  <h1>About Splurty</h1>
</div>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/apolloproductionsdj">Mike</a>. A crazed student ready take on the coding world and would like to develop the skills needed help establish himself into the fast paced development of web development.
  </p>
  <br />
  <p>
    He has taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Mike.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mike Torres</h2>
      <br />
      <p>
        Mike Torres is a web developer and user experience product manager. He consulted Fortune 500 companies like P&G and John Deere, won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for an entire year.
      </p>
    </div>
  </div>
 

</div>


<br class="clear" />
<br />
<br />
<br />
<br />